<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
    <span>Hello, <%= current_user.email %></span>
    <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
<% else %>
    <span> You need to log in for wathcing profile </span>
    <%= link_to 'Log in', new_user_session_path %> or <%= link_to 'Log up', new_user_registration_path %>
<% end %>